NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ACTIVE_QUIZ_FALLBACK_SLUG=northants-challenge-week-1
DATABASE_URL=
INSTANCE_CONNECTION_NAME=
DB_USER=
DB_PASS=
DB_NAME=
ADMIN_EMAIL=
WORK_WITH_US_URL=
GCP_PROJECT_ID=
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
